
h1 :hover {
    box-shadow: 1cm;
    text-shadow: 1cm;
    transition-duration: 0.3s;


}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 200px;
    background-color: cadetblue ;
    border-style: dotted;
    border-radius: 30px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}